<template>
  <div class="container mx-auto my-10 flex flex-col justify-center items-stretch bg-red px-3 lg:px-20 xl:px-64">
    <img src="~/assets/logo-chair-text.svg" class="max-w-full w-96 mb-5 mt-10 self-center" alt="">
    <h1 class="text-4xl lg:text-5xl mt-5 mb-10 text text-secondary font-light text-center">Farewell Digitales Wartezimmer</h1>
    <p class="text text-secondary my-4 text-center">Liebe Besucher:innen,</p>

    <p class="text text-secondary my-4 text-left">das Projekt <span class="text-primary">Digitales Wartezimmer</span> wurde in seiner bisherigen Form eingestellt. Wir möchten uns an dieser Stelle bei allen Beteiligten und Unterstützenden bedanken und sind sehr froh, dass wir unseren Beitrag leisten konnten.</p>

    <p class="text text-secondary my-4 text-left">Im Zuge des #WirVsVirus-Hackathons in Zusammenarbeit mit der Bundesregierung (<a href="https://wirvsvirus.org/" class="underline text-primary" target="_blank" rel="noopener noreferrer">https://wirvsvirus.org/</a>) ist das Projekt Ende März 2020 entstanden. Das erklärte Ziel war es, den Prozess der Kontaktpersonennachverfolgung zu digitalisieren und so Gesundheitsämter zu entlasten. Mit unserer digitalen Lösung sollten alle relevanten Informationen von COVID-19-Kontaktpersonen digital erfasst und an die von den zuständigen Gesundheitsämtern zur Nachverfolgung von Kontaktpersonen verwendeten Systeme übertragen werden.</p>

    <p class="text text-secondary my-4 text-left">Mit der Digitalisierung der Übermittlung von COVID-19-Kontaktpersonendaten wollten wir die Gesundheitsbehörden unterstützen, Infektionsketten schnell zu durchbrechen. Gleichzeitig sollte die Lösung der COVID-19-Kontaktperson eine schnelle und benutzerfreundliche Möglichkeit bieten, um mit „seinem/ihrem“ Gesundheitsamt in Kontakt zu treten.</p>

    <p class="text text-secondary my-4 text-left">Im Zuge der Pandemie wurden von unterschiedlichen Seiten vielversprechende Lösungsansätze erdacht und es entstand ein reger Austausch mit Gesundheitsämtern, dem RKI sowie SORMAS. Teile unseres Teams sind auch weiterhin aktiv, etwa im Innovationsverbund Öffentliche Gesundheit (<a href="https://www.inoeg.de/" class="underline text-primary" target="_blank" rel="noopener noreferrer">https://www.inoeg.de/</a>). </p>

    <p class="text text-secondary my-4 text-left">Der Entscheidung, unseren Ansatz nicht weiter aktiv zu verfolgen, liegt die Tatsache zugrunde, dass das Team ehrenamtlich tätig war. Mit den begrenzten Ressourcen können wir leider den reibungslosen Betrieb nicht mehr gewährleisten. </p>

    <p class="text text-secondary my-4 text-left">Im Sinne des #WirVsVirus-Hackathons ist unser Projekt als Open-Source-Projekt konzipiert und wir stellen den Code frei zur Verfügung. Interessierte finden ihn auf GitLab: <a href="https://gitlab.com/digitales-wartezimmer" class="underline text-primary" target="_blank" rel="noopener noreferrer">https://gitlab.com/digitales-wartezimmer</a></p> 

    <p class="text text-secondary my-4 text-center">Bleibt oder werdet gesund!</p>

    <p class="text text-secondary my-4 text-center">Euer Team des Projekts <span class="text-primary">Digitales Wartezimmer</span></p>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
